.container {
    margin: 120px;
    
}
.container h1 {
    margin-bottom: 50px;
}

.card.body {
    padding-bottom: 20px;
}
.container .sort {
    text-align: center;
}
.container .sort .btn {
    border: 1px gray solid;
    border-bottom: none;
    border-radius: 0%;
}