.header {
    background-image: url('../pics/earth.jpg');
    background-size: cover;
    height: 500px;
    position: relative;
}

.header .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 35, 39, 0.5);
}
.header .overlay h1{
    color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
}