.header {
    background-image: url('../pics/earth.jpg');
    background-size: cover;
    height: 500px;
    position: relative;
}

.header .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 35, 39, 0.5);
}
.header .overlay h1{
    color: white;
    margin: 60px 0 0 50px;
    width: 500px;
}
.header .overlay h3 {
    color: white;
    margin: 50px 0 0 50px;
    width: 500px;

    font-size: 20px;
    font-family: sans-serif;
    line-height: 30px;
}